<%- include('./head.ejs') %>
    <script src="https://kit.fontawesome.com/6ae77fa59a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/mh_2.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <div class="btn__addNew">
                    <a class="btn__addNew__btn" href="#">Add New Employee <i class="fas fa-user-edit"></i></a>
                </div>
                <div class="addNew__container">
                    <div class="addNew__employee">
                        <h4>ID:
                            <%= prods._id %>
                        </h4>
                        <h4>Name:
                            <%= prods.name %>
                        </h4>
                        <h4>Dath of Birth:
                            <%= prods.doB %>
                        </h4>
                        <h4>Salary Scale:
                            <%= prods.salaryScale %>
                        </h4>
                        <h4>Start Date:
                            <%= prods.startDate %>
                        </h4>
                        <h4>Department:
                            <%= prods.depart %>
                        </h4>
                        <h4>Annual Leave:
                            <%=prods.annualLeave %>
                        </h4>
                        <h4 for="imgEmployee">imageUrl Employee</h4>
                        <img src="/<%= prods.imageUrl %>" name="image" id="image" />

                        <a class=" btn__addNew__btn" href="/addNew/<%= prods._id %>?edit=true">Edit</a>
                        <!-- <button class="btnEditEmployee" id="btnEditEmployee" type="submit">Edit</button> -->
                    </div>
                </div>
            </main>
            <%- include('./end.ejs') %>