<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_3.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <h3>My Employee</h3>
                <div class="name__employee">
                    <p> Name:
                        <%= prods.name %>
                    </p>
                </div>
                <div class="info__employee">
                    <p>Số Ngày Làm: <% if(pr !=null) { %>
                            <%= pr.length %>
                                <% } else { %>
                                    Tháng này không có dữ liệu
                                    <% } %>
                    </p>
                    <p>Thời gian bắt đầu:<% if(pr !=null) { %>
                            <%= pr[0].items.slice(0)[0].starttime %>
                                <% } else { %>
                                    Tháng này không có dữ liệu
                                    <%} %>
                    </p>
                    <p>Thời gian kết thúc:<% if(pro !=null) { %>
                            <%= pro[0].items.slice(-1)[0].endtime %>
                                <% } else { %> Tháng này không có dữ liệu <% } %>
                    </p>
                    <p>Số giờ được tính làm thêm:
                        <% if(pro !=null) { %>
                            <%= pro[0].overTime %> giờ
                                <% } else { %> Tháng này không có dữ liệu <% } %>
                    </p>
                    <p>Lương tháng: <%= salary %>
                    </p>
                </div>
            </main>

            <%- include('./end.ejs') %>