<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_5.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <form method="post" action="/manager">
                    <h4>Manager Name: </h4>
                    <p>
                        <%= prod.name %>
                    </p>
                    <h4>List employee</h4>
                    <div class="container">
                        <% for(let emp of prods) {%>
                            <div class="container__staff">
                                <div class="emp__box">
                                    <h4>Name:</h4>
                                    <p>
                                        <%= emp.name %>
                                    </p>
                                    <img src="<%= emp.imageUrl %>" alt="empImg">
                                    <a class="btn" href="/manager/<%= emp._id %>">Detail</a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </form>
            </main>
            <%- include('./end.ejs') %>